html {
  overflow-y: scroll
}
:root {
  --bgcolor: #f8f9fa;
  --dimcolor: #eee;
  --fontcolor: #000;
  --linkcolor: #00e;
  --visitedcolor: #551a8b;
  --precolor: hsl(224, 10%, 23%);
  --prebgcolor: hsl(224, 20%, 94%);
  --bordercolor: #c6c6c6;
  --thbgcolor: #dbedf3c2;
  --troddcolor: #fff;
  --trevencolor: #f8f8f8;
}
@media (prefers-color-scheme: dark) {
  :root {
     --bgcolor: #222;
     --dimcolor: #333;
     --fontcolor: #ddd;
     --linkcolor: #5bf;
     --visitedcolor: #ae5ee0;
     --precolor: #fff;
     --prebgcolor: #383838;
     --bordercolor: #4f4f4f;
     --thbgcolor: #222;
     --troddcolor: #222;
     --trevencolor: #222;
  }
}
body {
  color: var(--fontcolor);
  background: var(--bgcolor);
  margin: 0;
}
a {
  text-decoration: none;
  overflow-wrap: anywhere;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: var(--linkcolor);
}
a:visited {
  color: var(--linkcolor);
}
a:active {
  color: var(--linkcolor);
}
h1,h2,h3 {
  line-height: 1.2;
}
code {
  font-family: "JetBrains Mono", "Symbols Nerd Font", BlinkMacSystemFont, monospace;
  font-size: 14px;
}
p > code, li > code, strong > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  margin-block: -.125rem;
  padding: .105rem .275rem;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
}
pre {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 24px;
  overflow-x: auto;
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
}
.center  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
article {
  padding: 5px 0;
}
article .content table {
  border-collapse: collapse;
  width:100%;
  border:1px solid var(--bordercolor) !important;
  margin-bottom:20px;
}
article .content table th {
  border-collapse: collapse;
  border-right:1px solid var(--bordercolor) !important;
  border-bottom:1px solid var(--bordercolor) !important;
  background-color:var(--thbgcolor) !important; 
  padding:5px 9px;
  text-align:center;
}
article .content table td {
  border-collapse: collapse;
  border-right:1px solid var(--bordercolor) !important;
  border-bottom:1px solid var(--bordercolor) !important; 
  padding:5px 9px;
  text-align:center;
  word-break: break-all;
}
article .content table tr:nth-child(odd){
  background-color:var(--troddcolor) !important; 
}
article .content table tr:nth-child(even){
  background-color: var(--trevencolor) !important;
}
article .content p, article .content li {
  line-height: 1.5;
}