#root {
  font-family: Iosevka, monospace;
  max-width: 750px;
  margin: 0 auto;
  padding: 10px;
}
#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#brand a {
  color: var(--fontcolor);
  text-decoration: none;
}
#brand h1, #brand h3 {
  margin: 0;
}
#brand h1 {
  font-size: 30px;
}
#brand h3 {
  font-size: 20px;
  font-weight: normal;
}
#brand .icon {
  width: 75px;
}
footer {
  margin-top: 30px;
}
header nav {
  margin: 15px 0;
}
h1.title {
  margin: 1.3rem 0 0 0;
}
h3.subtitle {
  font-weight: normal;
  margin: 0;
}
div.post-meta {
  margin-top: 1.3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #root {
    margin-top: 25px;
  }
  #brand {
    flex-direction: row;
    text-align: unset;
  }
  #brand .text {
    margin-left: 10px;
  }
  #brand h1 {
    font-size: 45px;
  }
  #brand h3 {
    font-size: 25px;
  }
}
#postsByDate, #section {
  list-style: none;
}
#postsByDate .date {
  width: 60px;
}
#section .date {
  width: 90px;
}
#postsByDate div, #postsInOneGroup div, #section div {
  display: inline-block;
}
#terms {
  list-style: none;
}
#terms .term {
  background-color: #ddd;
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  padding: 8px;
}

article .content table {
  border-collapse: collapse;
  width:100%;
  border:1px solid #c6c6c6 !important;
  margin-bottom:20px;
}
article .content table th {
  border-collapse: collapse;
  border-right:1px solid #c6c6c6 !important;
  border-bottom:1px solid #c6c6c6 !important;
  background-color:#dbedf3c2 !important; 
  padding:5px 9px;
  text-align:center;
}
article .content table td {
  border-collapse: collapse;
  border-right:1px solid #c6c6c6 !important;
  border-bottom:1px solid #c6c6c6 !important; 
  padding:5px 9px;
  text-align:center;
  word-break: break-all;
}
article .content table tr:nth-child(odd){
  background-color:#fff !important; 
}
article .content table tr:nth-child(even){
  background-color: #f8f8f8 !important;
}

article .content p, article .content li {
  line-height: 1.5;
}

.toc {
  margin-top: 15px;
  border: dotted;
}

a {
  overflow-wrap: anywhere;
}